
    .main-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
        color: black;
    }

    .container {
        display: flex;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 1200px;
        overflow: hidden;
        height: 500px;
        
    }

    .left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f4f4;
        padding: 20px;
        height: 500px;
    }

    .left img {
        width: 80%;
        max-width: 100%;
    }

    .right {
        flex: 1;
        padding: 30px;
        text-align: center;
        height: 500px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: grey;
    }

    input::placeholder {
        color: #c5c0c0;
        /* Change this to any color you want */
        opacity: 1;
        /* Ensures the color is fully applied */
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }


    .input{
        color: white;
    }